

.ol-sec {
    list-style-type: lower-alpha;
}

.ol-secb {
    list-style-type: upper-alpha;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8rem;
  background-color: white;
}

.sticky h1 { 
 margin-top: 2px;
 margin-bottom: 2px;
}


  /* comments*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .themes {
    padding: 0 18px;
    max-height: 0;
    border: 1px solid #555;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    background-color: #f1f1f1;
  }